 <section><img id="imagenCabecera" src="../recursos/imagen1Retocada.jpg" /></section>
    <section id="bloque1">
        <div id="bloque1titulo"><span>ENSEÑANZA PROFESIONAL A TODOS LOS NIVELES</span></div>
        <div id="presentacion">
            <div id="presentacionTexto">

                <p><span class="a">I</span>ngenieros químicos con una amplia experiencia docente ayudan al alumno a afrontar y superar el curso con éxito.</p>
                <p>Somos un grupo de profesionales especializados en las asignaturas de la rama científico-técnica (matemáticas, física, química y tecnología).</p>
                <p>Nos caracteriza la puntualidad, la profesionalidad en el método de trabajo y un trato y una atención personalizada que no pueden ofertarle en ninguna academia</p>
                <p>En nuestros más de cinco años de experiencia hemos obtenido excelentes resultados no sólo consiguiendo que nuestros alumnos aprueben sino motivando que éstos aprendan.
                </p>
                <p>Ofrecemos la posibilidad de desplazarnos a su domicilio, tanto en Granada capital como en los municipios de alrededor.</p>
                <p>Presentamos flexibilidad horaria, tanto en horario de mañana como de tarde, y los precios más económicos del sector.</p>

            </div>
            <div id="presentacionImagen"><img id="imagenEq" src="../recursos/imagen4Retocada.jpg" /></div>
        </div>
    </section>
    <section id="bloque2">
        <div id="bloque2titulo">NUESTRO MÉTODO</div>
        <div class="columna">
            <div class="c1">Ayudamos al alumno a comprender las materias de estudio mediante la realización de ejercicios prácticos. Trabajamos con las relaciones de ejercicios y las ampliamos con relaciones propias para que el alumno trabaje y se prepare de cara a cada
                examen.</div>
            <div class="c1">

                Logramos que el alumno obtenga el máximo rendimiento en el tiempo de estudio, enseñandole lo que realmente necesita, pero siempre desde nuestro principio de crear una base que le permita afrontar y superar con éxito tanto su presente como su futuro académico.</div>
    </section>
    <section id="bloque3">
        <div id="bloque3titulo"><span>Nuestros pilares básicos</span></div>
        <div id="contenedorb3">
            <div class="tip">
                <div class="tt">I.&#41; ENSEÑANZA INDIVIDUALIZADA</div>
                <div>A diferencia de las academias convencionales, el profesorado atiende personalmente al alumno en todas sus necesidades académicas, sin los retrasos normalmente generados en las clases grupales.</div>
            </div>
            <div class="tip">
                <div class="tt">II.&#41; CONTROL DE LA EVOLUCIÓN DEL ALUMNO</div>
                <p>Nuestros profesionales mantienen un seguimiento del alumnado mediante la realización de evaluaciones parciales. Éstas permiten al alumno enfrentarse a las asignaturas de una manera real, e informan a nuestros profesionales del grado de
                    asimilación de las materias impartidas; permitiendo informar a los padres de la evolución de los alumnos.</p>
            </div>
            <div class="tip">
                <div class="tt">III.&#41; REALIZACIÓN DE EJERCICIOS PRÁCTICOS</div>
                <div>Las clases particulares se imparten centrándose en la realización de problemas y ejercicios que ayuden al alumno a asimilar los conceptos necesarios para afrontar y superar sus exámenes.</div>
            </div>
        </div>
        <div id="contenedorb4">
            <div class="tip">
                <div class="tt">IV.&#41; ATENCIÓN PERSONALIZADA </div>
                <div>El alumno puede estar en contacto con nosotros a través de esta página web o mediante via telefónica 24 horas diarias los siete días de la semana; permitiéndole hacernos llegar sus dudas en el momento en el que le surjan. Ofrecemos el
                    trato personalizado que no puede ofertarle ninguna academia.</div>
            </div>
            <div class="tip">
                <div class="tt">V.&#41; ENSEÑAR A APRENDER </div>
                <p>Creamos una base en el alumno que le permite enfrentarse a las dificultades que se pueden presentar en su vida académica. Inculcamos técnicas de estudio necesarias para conseguir el éxito en los exámenes.</p>
            </div>
            <div class="tip">
                <div class="tt">VI.&#41; MOTIVACIÓN </div>
                <div>Nuestros profesionales se sitúan entre los padres y el alumno, de modo que éste los ve como un apoyo que les ayuda a conseguir sus objetivos, sin ser una obligación o un castigo.
                </div>
            </div>
        </div>

    </section>
    <section id="contenedorb5">


        <div class="bloque parallax parallaxUno">
            <div id="trasparente">
                Nuestro método no se basa en introducir conceptos inútiles, sino en la realización de ejercicios prácticos que permitan al alumno superar sus exámenes con éxito.
            </div>

        </div>
        <div id="bloque5titulo">ASIGNATURAS</div>
        <div id=contenedorb6>
            <div class="c1">
                ¿PROBLEMAS CON LAS NOTAS? Nuestros profesionales ayudan al alumno a cumplir sus objetivos, ya sean estos, aprobar o mejorar sus notas para obtener plaza en las carreras universitarias más demandadas.</div>
            <div class="c1">Nuestra especialidad son las asignaturas de la rama técnica en la cual, siempre con el esfuerzo y el trabajo de nuestros alumnos, obtenemos los mejores resultados.
            </div>
        </div>
        <div id="contenedorb7">


            <a href="#contenedor8">
                <div class="l1">PRIMARIA</div>
            </a>
            <a href="#contenedor9">
                <div class="l1" href="#">ESO Y BACHILLERATO</div>
            </a>
            <a href="#contenedor10">
                <div class="l1" href="#">ACCESO A GRADO</div>
            </a>
            <a href="#contenedor11">
                <div class="l1" href="#">SELECTIVIDAD</div>
            </a>


        </div>
        <div id="contenedor8">
            <div id="contenedor8texto">
                <div id="contenedor8titulo"> <span class="a">P</span>RIMARIA</div>
                <p>Ofrecemos a los más pequeños apoyo escolar y estudio dirigido desplazándonos al sitio donde más cómodos se encuentran, su casa.</p>
                <p>Nuestros profesores les ayudan a realizar sus tareas escolares y solventan todas sus dudas e inquietudes, mediante la impartición de clases amenas y productivas.</p>
                <p>Trabajamos desde nuestro principio de que una buena educación en primaria cimenta el buen futuro académico del alumno. </p>
            </div>

            <div id="primaria"><img class="img" src="../recursos/primaria2.jpg" /></div>
        </div>
        <div id="contenedor9">
            <div id="contenedor9texto">
                <div id="contenedor9titulo"> <span class="a">E.</span>S.O y BACHILLERATO</div>
                <p>Nuestros profesionales ayudan al alumno a cumplir sus objetivos, ya sean estos, aprobar o mejorar sus notas para obtener plaza en las carreras universitarias más demandadas.</p>
                <p>Disponemos de una gran cantidad de material para que el alumnopueda practicar haciendo ejercicios distintos. Trabajamos con exámenes antiguos de distintos antiguos que nos han proporcionado nuestros alumnos</p>
                <p>Cuentanos tus dificultades y te ayudamos a superarlas. Todo esfuerzo bien dirigido tiene una recompensa, déjanos dirigirte hacia el éxito. </p>
            </div>

            <div id="eso"><img class="img" src="../recursos/eso.jpg" /></div>
        </div>
        <div id="contenedor10">
            <div id="contenedor10texto">
                <div id="contenedor10titulo"> <span class="a">A</span>CCESO A GRADO </div>
                <p>¿No tienes Bachillerato y quieres estudiar un ciclo formativo de grado superior? Nuestros profesionales ayudan al alumno a adquirir los conocimientos de bachillerato para que nadie frene su formación académica.</p>
                <p>Trabajan con el temario específico, resolviendo examenes antiguos, para que el alumno se prepare de una manera real, se enfrente a su prueba y la supere con soltura</p>

            </div>

            <div id="grado"><img class="img" src="../recursos/imagen7.jpg" /></div>
        </div>
        <div id="contenedor11">
            <div id="contenedor11texto">
                <div id="contenedor11titulo"> <span class="a">S</span>ELECTIVIDAD </div>
                <p>Nos avalan mas de 5 años de experiencia preparando la selectividad y obteniendo EXCELENTES RESULTADOS</p>
                <p>Contamos con profesionales especializados en las asignaturas de la rama científico-técnica: Matemáticas, Física y Química.
                </p>
                <p>Nuestros profesores ayudan al alumno a conseguir su nota deseada. Trabajan adecuándose a las necesidades personales de cada alumno trabajando de manera individual.</p>
                <p>Preparan al alumno de manera intensiva, sin perder el tiempo, ofrenciéndole las herramientas necesarias para superar con éxito su Selectividad.
                </p>
                <p>Se centran en la resolución de exámenes oficiales de años anteriores, lo que permite quitar el miedo al alumno y que se sienta preparado.</p>
                <p>Ofrecemos la atención personalizada que no puede ofertarle ninguna academia.</p>

            </div>

            <div id="selectividad"><img class="img" src="../recursos/imagen2.jpg" /></div>
        </div>


    </section>
    <section>
        <div class="container">

            <header>
                <div id="cuadro_busquedad">

                    <h3 id="cmLLegar"><span class="a">D</span>escubre cómo llegar a nuestra academia</h3>
                    <br>
                    <label for="origen">Origen</label>
                    <br>
                    <input type="type" name="origen" id="origen" placeholder="calle, ciudad, estado..." />
                    <br />
                    <span>Destino: </span><span class="rrr">Academia Pitagoras</span></span><br>
                    <!--<label for="destino">Destino</label>
                    <br>-->
                    <input type="hidden" name="destino" id="destino" placeholder="calle, ciudad, estado..." />
                    <br>
                    <span>Modo de transporte</span>
                    <br>
                    <select id="modo_viaje" class="opciones_ruta">
                        <option value="DRIVING" selected="selected">Coche</option>
                        <option value="BICYCLING">Bici</option>
                        <option value="WALKING">A pie</option>
                        <option value="TRANSIT">Transporte publico</option>
                    </select>
                    <br>
                    <input type="button" id="buscar" value="Buscar ruta" />
                </div>

            

            
                <div id="map_canvas"></div>
                </header>
           

                <div id="panel_ruta"></div>
           
        </div>
    </section>