<div class="fondoSubir">
    <form class="formulario2" action="index.php?op=PhpSubirArchivos" method="post" enctype="multipart/form-data">
                
            
            <div id="seleccionarSubir">
                <span class="tituloFormulario">SUBIR ARCHIVOS</span><br><br>
                <span class="st">Elija la asignatura en la que quiere subir archivos</span><br><br>
                <div>{capa}</div><br>
                
                <input class="inputf2" type="file" name="archivo" id="sel"/><br>
            </div>
         
            <div id="U">
                <input class="enviarFormulario" type="submit" id="up"/>
            </div>
    </form>
</div>