<div class="fondoFormAlta">
<div>
    <form class="formulario"method="post" action="index.php?op=phpAltaAsignatura">
          <span class="tituloFormulario">
    ALTA DE ASIGNATURA
</span>
        <span class='spanF'>Materia:</span><input  class="inputf" type="text" name="materia"/><br>
        <span class='spanF'>Curso:</span><input  class="inputf" type="text" name="curso"/><br>
       {select} <br>
        <input class="enviarFormulario" type="submit" name="enviar" value="Dar de alta"/>
        
    </form>
</div>
</div>