<div class="fondoFormAlta">
    
<div>
<form class="formulario" method="post" action="index.php?op=phpAltaProfesor">
    <span class="tituloFormulario">
    ALTA DE UN PROFESOR
</span>
        <span class='spanF'>Nombre del profesor:</span><span id="error1"></span><input class="inputf" type="text" name="nombre" id="nombreProfesor"/><br>
        <span class='spanF'>Apellido:</span><span id="error2"></span><input class="inputf" type="text" name="apellido" id="apellidoProfesor"/><br>
        <span class='spanF'>Teléfono:</span><span id="error3"></span><input class="inputf" type="text" name="telefono" id="telefonoProfesor"/><br>
        <span class='spanF'>Email:</span><span id="error4"></span><input class="inputf" type="email" name="email" id="emailProfesor"/><br>
        <input class="enviarFormulario" type="submit" name="enviar" value="Dar de alta" id="altaProfesor"/>
        
    </form>
</div>
</div>