<div id="contenedorProfesor">
    <div class="tituloListado2">BIENVENIDO A TU ZONA DE PROFESOR</div>
    <div id="bloque1Profesor">
        <div class="opciones">
                <div class="opP2"><a href="index.php?op=ViewAsignaturasProfesor">Ver listado de clases que tengo asignadas</a> </div>
                <div class="opP2"><a href="index.php?op=ViewAlumnosPorAsignatura">Ver lista de alumnos matriculados en mis clases</a></div>
                <div class="opP2"><a href="index.php?op=ViewSubirArchivos">Subir archivos a una clase</a></div>
                 <div class="opP2"><a href="index.php?op=cerrarSesion">Cerrar Sesión</a></div>
        </div>
        <div class="imagenProf"> <img class="img" src="recursos/img2.jpg"/>
        </div>
    </div>
</div>
