<!doctype html5>
<html lang="en">

<head>
    <title>AcademiaPitagoras</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css" />
</head>

<body>
    <div id="contenedor">
        <div id="nav">
            <div id="logo" class="item"><a class="ancla" href="#">Espacio para logo</div>
                    <div class="item" id="about" class="item"><a class="ancla" href="index.php?op=0&#bloque2">Nuestro método</a></div>
            <div class="item" id="menu" class="item"><a class="ancla" href="index.php?op=0&#bloque5titulo">Asignaturas</a></div>
            <div id="zoo" class="item"><a class="ancla" href="index.php?op=0#cuadro_busquedad">Contacto</a></div>
                <div id="home" class="item"><a class="ancla" href="index.php?op=cerrarSesion">Cerrar Sesion</a></div>
        </div>
     
    </div>
    <div>
    <div class="bloqueTituloFranja"> <span >Pincha sobre la asignatura sobre la que tienes dudas y podrás enviarle un email al profesor que imparte esa asignatura</span></div>
    <div class="FondoAA">{contenidoParticular}</div>
    {volver}
    </div>
     <footer>
        <div class="footer1">
            <div class="footerIzq"> 
                <div class="contenedorTituloIcono"><div class="iconoFooter"><img src="../recursos/placeholder.png"/></div><div  class="tituloFooter">DIRECCIÓN</div></div>
                <div class="bcbc">Calle Santa Margarita, nº6</div>
                <div class="bcbc">Granada</div>
            </div>
            <div class="footerCentro">
                <div class="contenedorTituloIcono"><div class="iconoFooter"><img src="../recursos/mail.png"/></div><div  class="tituloFooter">CONTACTA CON NOSOTROS</div></div>
                <div class="bcbc">clasespitagoras@gmail.com</div>
                <div class="bcbc">637.102.849</div>
                <div class="bcbc">654.573.591</div>

            </div>
            <div class="footerDerech">
            <div class="contenedorTituloIcono"><div class="iconoFooter"><img src="../recursos/clock.png"/></div><div  class="tituloFooter">HORARIO</div></div>
                <div class="bcbc">Lunes-Viernes: 09h-14h y 16h-21h</div>
                <div class="bcbc">Sábados: 10h-13h</div>
                <div class="bcbc">Skype 24horas </div>
                </div>
        </div>
 <div class="footer2">
            <div class="footer2iz">CopyRight 2016</div><div class="footer2der">Designed by María del Mar Justicia</div>
        </div>
        
    </footer>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEyhGDhNzZ_GpEfcdB76wM1JtYqCBQ1HY&libraries=places"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/codigo.js"></script>
    <script src="../js/codigo2.js"></script>

</body>

</html>