<div>
    <img class="img" src="../recursos/img3.png"/>
</div>

<div id="contenedorZA">
    
  
        <div id="zDe">
            <div id="asignaturas"><div class="iconos"><img src="../recursos/file.png"/></div><a class="enlace" href="../index.php?op=ViewAsignaturas">VER MIS ASIGNATURAS</a></div>

        
        </div>
        <div id="zIz">
            <div id="dudas"><div class="iconos"><img  src="../recursos/mail-send.png"/></div><a class="enlace" href="../index.php?op=ViewDudas">ENVIAR MIS DUDAS</a></div>
        
        </div>
  
</div>
<div id="contenedorCerrarSesion"><div><img src="../recursos/cerrar.png"/></div><a href="index.php?op=cerrarSesion"><div class="cerrar">Cerrar Sesión</div></a></div>
<div id="franja">
   En este área encontrarás los contenidos que tu profesor suba para tí.Además podrás subir tus trabajos
        y preguntar tus dudas a tu profesor 
    
</div>
