<div id="contenedorAdmin">
    <!--<div class="bloque parallax parallaxTres">
      <div id="trasparente3">Bienvenido a su zona de administrador</div>
    </div>-->
    <div class="tituloListado2">
        BIENVENIDO A TU ZONA DE ADMINISTRADOR
    </div>
    <div id="bloque11Administrador">
        <div id="bloque1izq">
          <div><a href="index.php?op=ViewAltaAlumno">Dar de alta a un alumno</a> </div>
          <div><a href="index.php?op=ViewAltaProfesor">Dar de alta a un profesor</a></div>
          <div><a href="index.php?op=ViewFormAsignaturas">Dar de alta una clase</a></div>
          <div><a href="index.php?op=MatricularAlumno">Matricular alumno en una clase</a></div>
          <div><a href="index.php?op=BajaAlumno">Dar de baja a un alumno</a></div>
          <div><a href="index.php?op=BajaProfesor">Dar de baja a un profesor</a></div>
          <div><a href="index.php?op=ListarAlumno">Listar alumnos matriculados</a></div>
          <div><a href="index.php?op=ListarProfesor">Listar profesores del centro</a></div>
          <div><a href="index.php?op=ListarAsignaturas">Ver clases que se imparten</a></div>
           <!--<div><a href="index.php?op=ListarClaveAlumno">Ver contraseña de alumno</a></div>-->
          <div><a href="index.php?op=ViewAlumnosPorAsignaturaDelCentro">Consultar alumnos matriculados en una clase</a></div>
          <div><a href="index.php?index.php?op=cerrarSesion">Cerrar Sesion</a></div>
          <!--<div><a href="index.php?op=Prueba">probar</a></div>-->
      
        </div>
        <div id="bloque1der">
          <img class="img" src="recursos/Education.jpg"/>
        </div>
    </div>
</div>